<div class="container">
<div class="row">
<div class="col-6 mx-auto">
<h3>Edit User</h3>
<%#<%=render "layouts/error",post: @user %>
<div class="errors bg-danger">
<% if @user.errors.any? %>
<%=@user.errors.count %>件のエラーが発生しました。
<ul>
<%=@user.errors.full_messages.each do |message| %>
<li><%=message %></li>
<% end %>
</ul>

<% end %>
</div>

<%=form_with model:@user,url: user_path(@user.id),method: :patch do |f| %>
<h5 class="mt-3">Name</h5>
<%=f.text_field:name %>
<h5 class="mt-3">image</h5>
<%=f.file_field:profile_image,accept: "image/*" %>
<h5 class="mt-3">introduction</h5>
<%=f.text_area:introduction %>
<p class="mt-3"><%=f.submit "update" %></p>
<% end %>
</div>
</div>
</div>