<h2><%=@user.name %>さんとのチャット</h2>
<div class="message" style="width:400px;">
<% @chats.each do |chat| %>
<% if chat.user.id==current_user.id %>
<%=render "chats/chat",chat: chat %>
<% else %>
<div class="left-container d-flex">
  <%=image_tag @user.get_profile_image(50,50),class: "rounded-circle" %>
  <p id="chat<%=chat.id %>" style="background-color:#F5F5DC; padding:5px; border-rqadius:10px;">
    <%=chat.message %>
  </p>
  </div>
<% end %>
<% end %>

</div>
<%=form_with model:@chat,local: false do |f| %>
<%=f.text_field:message %>
<p><%=f.submit "送信",class: "btn btn-outline-secondary" %></p>
<%=f.hidden_field:room_id %>
<% end %>