<div class="container">
  <div class="row">
    <div class="col-6 mx-auto my-4">
      <h3>New Post</h3>
      <%=render "layouts/error",post: @post %>
      <%=form_with model:@post do |f| %>
       <%=f.label :knittingname %>
       <%=f.text_field :knittingname %>
       <%=f.label :image %>
       <%=f.file_field :image,accept: "image/*" %>
       <%=f.label :caption %>
       <%=f.text_area :caption, class: "mb-3" %><br>
       <%=f.submit "post", class: "btn btn-outline-secondary"%>
      <% end %>
    </div>
  </div>
</div>